<!--<div class="footer-wrapper">-->
    <!--<div class="footer-section-2">-->
        <!--<div class="row">-->
            <!--<div class="container">-->
                <!--<div class="col-md-6">-->
                    <!--<div class="footer-menu-title">Lorem Ipsum</div>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                    <!--<ul class="footer-menu-list">-->
                        <!--<li><a href="#">Menu item</a></li>-->
                        <!--<li><a href="#">Menu item</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<div class="footer-menu-title">Lorem Ipsum</div>-->
                    <!--<ul class="footer-menu-list">-->
                        <!--<li><a href="#">Menu item name</a></li>-->
                        <!--<li><a href="#">Menu item name</a></li>-->
                        <!--<li><a href="#">Menu item name</a></li>-->
                        <!--<li><a href="#">Menu item name</a></li>-->
                        <!--<li><a href="#">Menu item name</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<div class="footer-menu-title">Lorem Ipsum</div>-->
                    <!--<ul class="footer-menu-list">-->
                        <!--<li><a href="#">Menu item name</a></li>-->
                        <!--<li><a href="#">Menu item name</a></li>-->
                        <!--<li><a href="#">Menu item name</a></li>-->
                        <!--<li><a href="#">Menu item name</a></li>-->
                        <!--<li><a href="#">Menu item name</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->
            <!--<div class="container">-->
                <!--<div class="social-wrapper col-md-12">-->
                    <!--<div class="social-footer">-->
                        <!--<div class="social">&#62220;</div>-->
                        <!--<div class="social">&#62217;</div>-->
                        <!--<div class="social">&#62223;</div>-->
                        <!--<div class="social">&#62232;</div>-->
                        <!--<div class="social">&#62235;</div>-->
                        <!--<div class="social">&#62226;</div>-->
                        <!--<div class="social">&#62214;</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="footer-section-3">-->
    <!--<div class="row">-->
        <!--<div class="container">-->
            <!--<div class="offset-md-12">-->
                <!--<div class="row">-->
                    <!--<div class="footer-copyright">-->
                        <!--&copy; OnEaglesWingsInc, All rights reserved.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- end of first test footer code -->

<!-- start of the second footer test code -->

<footer class="mainfooter" role="contentinfo">

    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Address</h4>
                        <address>
                            <ul class="list-unstyled">
                                <li>
                                    326 Runaway Bay, Apt 3D, Mishawaka
                                    <br> Indiana - 46545
                                    <br>
                                </li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a [routerLink]="['/about-us']" routerLinkActive="active">About Us</a>
                            </li>
                            <li>
                                <a  [routerLink]="['/our-stories']" routerLinkActive="active">Our Stories</a>
                            </li>
                            <li>
                                <a [routerLink]="['/special-events-and-news']" routerLinkActive="active">Special Events & News</a>
                            </li>
                            <li>
                                <a [routerLink]="['/contact-us']" routerLinkActive="active">Contact Us</a>
                            </li>
                            <li>
                                <a [routerLink]="['/donate']" routerLinkActive="active">Donate</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Social Media</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.facebook.com/julianakitenge/?timeline_context_item_type=intro_card_work&timeline_context_item_source=100015108911827&pnref=lhc">Facebook</a>
                            </li>
                            <li>
                                <a href="#">Instagram</a>
                            </li>
                            <li>
                                <a href="https://twitter.com/oneagleswingsl1">Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Contact Info</h4>
                        <ul class="list-unstyled">
                            <li>
                                Email: jullykimuyu@gmail.com
                            </li>
                            <li>
                                Phone: +1 (574) 229-7576
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!--Footer Bottom-->
                    <p class="text-xs-center">&copy; Copyright 2018 - OnEaglesWingsInc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- end of the second footer code -->