<div class="footer-wrapper">
    <div class="footer-section-2">
        <div class="row">
            <div class="container">
                <div class="col-md-6">
                    <div class="footer-menu-title">Lorem Ipsum</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <ul class="footer-menu-list">
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="footer-menu-title">Lorem Ipsum</div>
                    <ul class="footer-menu-list">
                        <li><a href="#">Menu item name</a></li>
                        <li><a href="#">Menu item name</a></li>
                        <li><a href="#">Menu item name</a></li>
                        <li><a href="#">Menu item name</a></li>
                        <li><a href="#">Menu item name</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="footer-menu-title">Lorem Ipsum</div>
                    <ul class="footer-menu-list">
                        <li><a href="#">Menu item name</a></li>
                        <li><a href="#">Menu item name</a></li>
                        <li><a href="#">Menu item name</a></li>
                        <li><a href="#">Menu item name</a></li>
                        <li><a href="#">Menu item name</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="container">
                <div class="social-wrapper col-md-12">
                    <div class="social-footer">
                        <div class="social">&#62220;</div>
                        <div class="social">&#62217;</div>
                        <div class="social">&#62223;</div>
                        <div class="social">&#62232;</div>
                        <div class="social">&#62235;</div>
                        <div class="social">&#62226;</div>
                        <div class="social">&#62214;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-section-3">
    <div class="row">
        <div class="container">
            <div class="offset-md-6">
                <div class="row">
                    <div class="footer-copyright">
                        &copy; OnEaglesWingsInc, All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
