<div class="container-fluid">
    <div class="row">
        <div class="col about-us-col">
            <h1 id="header-content">Contact Us</h1>
        </div>
    </div>

    <div class="container" style="text-align: center">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="login">
                <input type="text" placeholder="Your Name" class="input" ngModel name="name" required>
                <input type="text" placeholder="Your Email Address"
                       class="input" name="_replyto" ngModel name="email" required email>
            </div>

            <div class="subject">
                <input type="text" placeholder="Subject" class="input" ngModel name="subject" required>
            </div>

            <div class="msg">
                <textarea  class="area" placeholder="Leave a Message" ngModel name="message" required></textarea>
            </div>
            <div style="outline: none;">
                <button class="btn" type="submit"
                        style="text-decoration: none;outline: none"
                        [disabled]="!f.valid">Send Message</button>
            </div>

        </form>
    </div>



    <!--/.container-->

</div>