<div class="container-fluid">
    <div class="row">
        <div class="col about-us-col">
            <h1 id="header-content">Contact Us</h1>
        </div>
    </div>

    <div class="container" style="text-align: center">
        <form action="https://formspree.io/love.modi3003@gmail.com" method="POST">
            <div class="login">
                <input type="text" placeholder="Your Name" class="input" name="name">
                <input type="text" placeholder="Your Email Address" class="input" name="_replyto">
            </div>

            <div class="subject">
                <input type="text" placeholder="Subject" class="input">
            </div>

            <div class="msg">
                <textarea  class="area" placeholder="Leave a Message"></textarea>
            </div>

            <div class="btn" type="submit" value="Send">Send Message</div>
        </form>
    </div>



    <!--/.container-->

</div>