.about-us-col {
    background-color: #1eb9c2;
    padding: 20px;
    color: white;
}

#header-content{
    padding-left: 90px;
}

#main-content{
    margin-top: 30px;
    padding-left: 110px;
    max-width: 1080px;
}

#sub-header-content {
    padding-top: 28px;
    padding-bottom: 20px;
}

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 70px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 70px;
}


@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }



    .row-offcanvas-right.active {
        background-color: #1eb9c2;
        right: 50%; /* 6 columns */
    }


    .row-offcanvas-right {
        right: -100%; /* 12 columns */
    }

    .row-offcanvas-right.active  {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left  {
        left: -100%; /* 12 columns */
    }

    .row-offcanvas-left.active  {
        left: -50%; /* 6 columns */
    }

    .sidebar-offcanvas{
        right: -100%; /* 12 columns */
    }

    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        left: -100%; /* 12 columns */
    }

    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 300px; /* 6 columns */
    }

}

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
}

body{
    background: url("https://i.imgur.com/wEDJfYM.jpg") no-repeat center;
    background-size: cover;
    height: auto;
    font-family: 'Roboto';
}


.container{
    max-width: 800px;
    height: 600px;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(72,98,85, 0.6);
    box-sizing: border-box;
    padding: 40px;
}

p{
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 20px;
    color: #486255;
}

.input,
.msg .area{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transform: all 0.5s ease;
}

.login .input{
    width: 48%;
    float: left;
    margin-right: 4%;
}

.login .input:last-child{
    margin-right: 0;
}

.msg .area{
    height: 200px;
}

.btn{
    width: 250px;
    background: #486255;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.input:focus,
.msg .area:focus{
    border: 2px solid #486255;
}

::-webkit-input-placeholder{
    font-family: 'roboto';
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}

/* Specific css for <Alert Type> */
.alertsContainer .alertsRow.success  {
    border: 1px solid #ffc549;
}



