<div class="container-fluid">
    <div class="row">
        <div class="col about-us-col">
            <h1 id="header-content">Contact Us</h1>
        </div>
    </div>

    <div class="container" style="text-align: center">

        <div class="login">
            <input type="text" placeholder="Your Name" class="input">
            <input type="text" placeholder="Your Email Address" class="input">
        </div>

        <div class="subject">
            <input type="text" placeholder="Subject" class="input">
        </div>

        <div class="msg">
            <textarea  class="area" placeholder="Leave a Message"></textarea>
        </div>

        <div class="btn">Send Message</div>
    </div>



    <!--/.container-->

</div>