<!doctype html>
<html lang="en">
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>OnEaglesWingsInc</title>
    </head>
    <body>
        <h2>Hello OnEaglesWings Owner...</h2>
        <h3>You have a new message</h3>
        <h3>Sender's name: {{name}}</h3>
        <h3>User's email id: {{email}}</h3>
        <h3>User's message:</h3>
        {{message}}
    </body>
</html>