<div class="list-group">
    <a class="list-group-item" [routerLink]="['/our-stories/our-stories-2']" routerLinkActive="active"
       style="color: #1eb9c2;"><i
            class="fa fa-angle-double-right" aria-hidden="true"></i> Our Stories</a>

    <a class="list-group-item" [routerLink]="['/our-stories/image-gallery']"
       routerLinkActive="active"
       style="color: #1eb9c2;"><i class="fa fa-angle-double-right"
                                  aria-hidden="true"></i> Image Gallery</a>

    <a class="list-group-item" [routerLink]="['/our-stories/event-videos']"
       routerLinkActive="active"
       style="color: #1eb9c2;"><i class="fa fa-angle-double-right"
                                  aria-hidden="true"></i> Event Videos</a>

</div>