<router-outlet></router-outlet>
<div class="container-fluid">
    <div class="row">
        <div class="col about-us-col">
            <h1 id="header-content">About Us</h1>
        </div>
    </div>


    <!--/.container-->
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-12 col-md-9" style="padding-right: 10%; padding-left: 42px">
                <h2 id="sub-header-content">About On Eagles Wings Inc.</h2>
                <p>
                    On Eagles Wings Inc. is a non profit organization that helps poor families in Kenya with kids
                    battling
                    cancer. We help with basic needs, food, shelter and transport. Our hope is to see families who have
                    never seen hope or happiness get unsolicited help.
                </p>
                <p>
                    Cancer has become an epidemic in 3rd world countries. Being born and raised in Kenya I saw the
                    effects
                    the environment had on the people, especially those who are poor and afflicted with cancer. This
                    resurrected my passion for those poor families afflicted with cancer. I personally deal with these
                    families and help them directly. According to national guidelines for cancer management in Kenya,
                    cancer
                    ranks third as the cause of morbidity and mortality. Kenya is carrying a heavy burden which is
                    largely
                    triggered by a shortage of cancer specialist and scarcity of chemotherapy in major hospitals. The
                    pressure ripples the patient and their families causing those that are poor to wait in line for a
                    long
                    time increasing their mortality rate. Bills pile up and families end up spending their meager
                    resources
                    on the maintenance of the disease. There are some organizations that give occasional help to the
                    patients but not to the devastated families.The gap that is left after the battle is won or lost is
                    the
                    main focus for my efforts. As little as $5 to an affected family can go along way. </p>
                <p>
                    These family members act as the caretakers of the sick children, but they are not allowed to sleep
                    in the
                    ward and thereby have to look for alternative accommodation outside the hospital. Either with
                    friends,
                    relatives, or renting small rooms within some informal settlements. Most of these families cannot
                    afford
                    a decent meal a day, fare to and from the hospital, or other basic needs. I aim to help with these
                    basic
                    needs like food, shelter, transportation during this difficult time. I also seek to help them get
                    back
                    to their livelihoods after the disease without suffering hunger or discounting important aspects in
                    their lives like education. I would also follow after they have lost their children to cancer and
                    help
                    them cope with the grief.
                </p>
                <p>
                    With your generous support we can reach out to more families and revive their hope in life, support
                    their recovery. and introduce the love of Jesus Christ to them in their dire need.
                </p>
                <p>
                    - Juliana Kitenge
                </p>
            </div>
            <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar" style="margin-top: 38px;">
                <div class="list-group">
                    <a class="list-group-item" [routerLink]="['']" routerLinkActive="active"
                           style="color: #1eb9c2;background-color: lightgoldenrodyellow;border-color: transparent"><i
                            class="fa fa-angle-double-right" aria-hidden="true"></i> About Us</a>

                    <a class="list-group-item" [routerLink]="['history']"
                                                     routerLinkActive="active"
                                                     style="color: #1eb9c2;"><i class="fa fa-angle-double-right"
                                                                                aria-hidden="true"></i> History</a>

                    <a class="list-group-item" [routerLink]="['board-of-directors']"
                                                     routerLinkActive="active"
                                                     style="color: #1eb9c2;"><i class="fa fa-angle-double-right"
                                                                                aria-hidden="true"></i> Board of
                        Directors</a>

                </div>
            </div>
        </div>
    </div>
</div>

