.about-us-col {
    background-color: #1eb9c2;
    padding: 20px;
    color: white;
}

#header-content{
    padding-left: 90px;
}

#main-content{
    margin-top: 30px;
    padding-left: 110px;
    max-width: 1080px;
}

#sub-header-content {
    padding-top: 28px;
    padding-bottom: 20px;
}

#left-content{
    margin-right: 30%;
}

#sidebar{
    width: 25%;
}