<div class="container-fluid">
    <div class="row">
        <div class="col about-us-col">
            <h1 id="header-content">Image Gallery</h1>
        </div>
    </div>


    <!--/.container-->
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <!--<div class="col-12 col-md-9" style="padding-right: 10%; padding-left: 42px">-->
            <div>
                <!--<hr>-->
                <h3>Image Gallery here</h3>

                <!-- image gallery code start here -->

                <!-- image gallery code end here -->
            </div>
            <!--<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar" style="margin-top: 38px;">-->
                <!--<app-our-stories-sidebar></app-our-stories-sidebar>-->
            <!--</div>-->

        </div>
    </div>
</div>