<div class="container-fluid">
    <div class="row">
        <div class="col about-us-col">
            <h1 id="header-content">Image Gallery</h1>
        </div>
    </div>


    <!--/.container-->
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-12 col-md-9" style="padding-right: 10%; padding-left: 42px">
                <hr>
                <h3>Our Images here</h3>
                <!--<div class="col-md-4"><img src="https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/A-G/cheetah-watching.adapt.945.1.jpg" alt=""></div>-->
                <!--<div class="col-md-4"><img src="https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/A-G/cheetah-watching.adapt.945.1.jpg" alt=""></div>-->
                <!--<div class="col-md-4"><img src="https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/A-G/cheetah-watching.adapt.945.1.jpg" alt=""></div>-->

                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/A-G/cheetah-watching.adapt.945.1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/A-G/cheetah-watching.adapt.945.1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/A-G/cheetah-watching.adapt.945.1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a .</p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar" style="margin-top: 38px;">
                <app-our-stories-sidebar></app-our-stories-sidebar>
            </div>

        </div>
    </div>
</div>