<div class="list-group">
    <a class="list-group-item" [routerLink]="['/about-us/about-us-2']" routerLinkActive="active"
       style="color: #1eb9c2;background-color: lightgoldenrodyellow;border-color: transparent"><i
            class="fa fa-angle-double-right" aria-hidden="true"></i> About Us</a>

    <a class="list-group-item" [routerLink]="['/about-us/history']"
       routerLinkActive="active"
       style="color: #1eb9c2;"><i class="fa fa-angle-double-right"
                                  aria-hidden="true"></i> History</a>

    <a class="list-group-item" [routerLink]="['/about-us/board-of-directors']"
       routerLinkActive="active"
       style="color: #1eb9c2;"><i class="fa fa-angle-double-right"
                                  aria-hidden="true"></i> Board of
        Directors</a>

</div>