<div class="container-fluid">
    <div class="row">
        <div class="col about-us-col">
            <h1 id="header-content">Board of Directors</h1>
        </div>
    </div>


    <!--/.container-->
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-12 col-md-9" style="padding-right: 10%; padding-left: 42px">
                <img src="https://s3.us-east-2.amazonaws.com/on-eagles-wings-inc/Jul1.JPG" alt="board of directors"
                     style="height: 100px;width: 100px;">
            </div>
            <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar" style="margin-top: 38px;">
                <app-about-us-sidebar></app-about-us-sidebar>
            </div>

        </div>
    </div>
</div>